
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
.navv{
    padding-right: 70cm;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #fafbfc;
  color: #3205fc;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  border-radius: 4px;
  z-index: 1;
}

.header-area {
  position: fixed;
  height: 20vh;
  background: #81bdcf;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    height:1.5cm;
    padding: 25px;
    width: 100%;
    z-index: 9999;

  
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: bisque;
  
  padding-left: 15rem;
}
.navbar-nav {
    top: 5.5rem;
    padding-left: 90rem;
    padding-right:0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #0529f5;
  font-size: 2.0rem
  
  
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ca2159;
}


