{% extend 'header.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>About Our Courses</title>
  </head>
  <body>
    <h1>About Our Bookstore</h1>
    <p>Welcome to our Ocean Learning! We specialize in a wide range of book genres, from classic literature to the latest bestsellers. Here are just a few of the genres you'll find on our shelves:</p>
    <ul>
      <li>Science Fiction</li>
      <li>Fantasy</li>
      <li  >Horror</li>
      <li>Thriller & Suspense</li>
      <li>Romance</li>
      <li>Historical Fiction</li>
      <li>Biography & Memoir</li>
      <li>Cookbooks</li>
      <li>Self-Help & Personal Development</li>
      <li>Travel & Adventure</li>
    </ul>
  </body>
</html>
