{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a href="#" class="navbar-brand">Learning Ocean</a>
            <div class="navbar-nav ml-auto">
				
                    <button><a href="/templates/home.html" class="nav-item nav-link">Home</a></button>
                    <button><a href="/templates/courses.html" class="nav-item nav-link">Courses</a></button>
                    <button><a href="/templates/aboutus.html" class="nav-item nav-link">About Us</a></button>
                    <button><a href="/templates/contacts.html" class="nav-item nav-link">Contacts</a></button>
                    <button><a href="/templates/authentication/logout.html" class="nav-item nav-link">Logout</a></button>
					
            </div>
		</div>
	</nav>
</header>
